@charset "utf-8";
*{font-size: 1.7rem;}
/* 기본폰트 사이즈 */

.fas ,.mobile{display: none;}
/* mo menu */

header{
     height: 80px;
     line-height: 80px;
     position: relative;
     width: 100%;
     text-align: center;
     box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);  
     background-color: white;
}

/* 스크립트로 스크롤 고정 */
header.fixed{
     width: 100%;
     position: fixed;
     top:0;
     left:0;
     height: 80px;
     z-index: 500;
}

.header_in{
     max-width: 1200px;
     width: calc(100% - 50px);
     height: 100%;
     display: inline-block;
     text-align: center;
     display: flex;
     justify-content: space-between;
     margin: 0 auto;
}
.header_in div{
     display: inline-block;
}
.header_in .logo a img{
     width: 200px;
     vertical-align: middle;
}

/* pc_wrap이 mo ver에서 none=logo 제외 */
.pc_none{
     display: inline-block;
}

/* pc menu 2개 */
.pc ul li {
     display: inline-block;
     width: 140px;
     text-align: center;
     margin-right: 20px;
}
.pc ul .info_menu{
     font-weight: 700;
}


/* icon 3개 */
.icon{margin-right: 20px;}
.icon a {
     display: inline-block;
     vertical-align: middle;
     width: 30px;
     text-align: center;
     margin-right: 10px;
     height: 30px;
     line-height: 40px;
}
.icon a img{
     width: 100%;
     display: block;
}

/* download btn */
.dl a{
     display: inline-block;
     width: 125px;
     height: 40px;
     border-radius: 10px;
     line-height: 37px;
     background-color: #ff9100;
     font-weight:500;
     color: white;
}
.dl img {
     width: 22px;
     padding-left: 4px;
     vertical-align: middle;
}

/* header end */
/* header end */
/* header end */




/* dl(다운로드) */
.dl_footer{
     display: inline-block;
     width: 100%;
     height:300px;
     background: url('../img_nv/pcmo_dl_banner.png') center center / cover no-repeat;   
}
.dl_footer img{
     height: 100%;
     width: 100%;
}
.dl_wrap{
     max-width: 400px;
     width: calc(100% - 50px);
     height: 100%;
     margin: 0 auto;
     text-align: center;
     padding-top: 75px;
     
} 
.dl_wrap dl{
     font-size: 1.8rem;
     line-height: 30px;
     color:#444;
}
.dl_wrap dd{
     font-size: 3.3rem;
     font-weight: 700;
     color:#333;
}

/* store download btn */
.sto_dl{margin-top: 35px;}
.sto_dl a{
     display: inline-block;
     width: 140px;
     height: 50px;
     line-height: 47px;
     background-color: #333;
     border-radius: 10px;
     font-weight:500;
     color: white;
     margin-right: 20px;
}
.sto_dl a:last-child{
     margin-right: 0;
}

.sto_dl .ps{
     width: 170px;
}
.sto_dl img {
     width: 20px;
     height: 22px;
     display: inline-block;
     vertical-align: sub;
     margin-right: 10px;
}


/* footer */
footer{
     width: 100%;
     height: 150px;
     background-color: #222;
     text-align: center;
}
.info_footer{
     max-width: 500px;
     width: calc(100% - 50px);
     height: 100%;
     margin: 0 auto;
}
.info_footer a{
     display: inline-block;
     margin-right: 20px;
     font-size: 1.5rem;
     color: white;
}
.info_footer a:last-child{
     margin-right: 0;
}
.info_footer li{
     margin-top: 10px;
     color: #666;
     font-size: 1.3rem;
}
.click_txt{
     padding-top: 30px;
}





/* 위로가기 */
.up{
     position: fixed;
	bottom: 0;
	right: 0;
     display: inline-block;
	text-align: center;
     z-index: 5000;
}
.up a{
     box-shadow: 0px 0px 3px rgb(0, 0, 0); 
     position: absolute;
     z-index: 5000;
     bottom: 30px;
	right: 30px;
     width: 50px;
     height: 50px;
     background-color: rgba(82, 81, 81, 0.589);
     border-radius: 50%;
     
}
.up img{
     position: absolute;
     width: 60%;
     height: 60%;
     display: inline-block;
     transform:rotateZ(-90deg);
     left: 20%;
     top:18%;
}



/* Tb.ver */
@media (max-width: 1024px){
     .pc_none div{display: none;}
     .ui.button{
          display: none;
     }
     /* sementic */

     .mobile{
          display: block;
          position: fixed;
          top:0;
          left:-100%;
          width: 80%;
          height: 100%;
          background-color: #eee;
          z-index: 9;
          transition: .5s;
     }
     .fas {
          display:block;
          position: absolute;
          right: 30px;
          top:30px;
          font-size: 2.0rem;
     }
     .fa-times{
          display: none;
     }
}

/* Mo.ver */
@media (min-width: 320px) and (max-width: 480px){
     .pc_none div{display: none;}
     .ui.button{
          display: none;
     }
     /* sementic */

     .mobile{
          display: block;
          position: fixed;
          top:0;
          left:-100%;
          width: 80%;
          height: 100%;
          background-color: #eee;
          z-index: 9;
          transition: .5s;
     }
     .fas {
          display:block;
          position: absolute;
          right: 30px;
          top:30px;
          font-size: 2.0rem;
     }
     .fa-times{
          display: none;
     }
}











