@charset "utf-8";


.main_visual{
     height: 650px;
     background:url(../img_nv/pc_main.png) center center / cover no-repeat;
     background-color: antiquewhite;
}


.title{
     max-width: 1200px;
     width: calc(100% - 50px);
     border: 2px solid violet;
     height: 100%;
     display: inline-block;
     text-align: left;
     display: flex;
     justify-content: space-between;
     margin: 0 auto;
     position: relative;
}
.subt{
     position: absolute;
     top:130px;
     left: 20px;
}

.subt p,
.subt b,
.subt span{
     font-size: 4.5rem;
     color:#444;
     text-shadow:  2px 2px 5px rgba(0, 0, 0, 0.2);   
     line-height: 65px;
     font-weight: 500;
     letter-spacing: -0.15rem;
}
.subt b{
     font-weight: 800;
}

/* 중간선 */
.subt span{
     display: inline-block;
     width: 160px;
     height: 3px;
     margin-bottom: 15px;
     background-color: #ff9100;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);   
}
.maint{
     position: absolute;
     bottom: 100px;
     right: 20px;
}
.maint b{
     font-size: 8.0rem;
     color:#444;
     font-weight: 700;
     text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);   
     letter-spacing: -0.4rem;
}




/* service 시작 */
.serv{
     width: 100%;
     background-color: #fafafa;
     border-top: 2px solid #ededed;
     border-bottom: 2px solid #ededed;
     padding-bottom: 37px;
}

.serv_tit{
     text-align: center;
     margin-top: 80px;
     /* margin-bottom: 20px; */
}
.serv_tit ul :first-child{
     display: inline-block;
     width: 13px;
     height: 13px;
     border-radius: 50%;
     margin-bottom: 5px;
     background-color: #ff9100;
}
.serv_tit ul :nth-child(2){
     font-size: 1.8rem;
     font-weight: 500;
     color: #555;
}

.serv_tit ul :nth-child(3){
     font-size: 4.0rem;
     font-weight: 700;
     color: #333;
}

/* service 뱃지~내용 */
.serv_wrap{
     max-width: 680px;
     width: calc(100% - 50px);
     /* border: 2px solid violet; */
     height: 300px;
     text-align: left;
     display: flex;
     justify-content: space-between;
     margin: 0 auto;
     position: relative;
}
.serv_wrap > div{
     margin: 0 auto;
     width: 600px;
     height: 100%;
     /* background-color: aqua; */
}
.serv_box{
     /* background-color: antiquewhite; */
     display:inline-block;
     margin-top: 40px;
     width: 100%;
}
.serv_box div{
     vertical-align: middle;
     height: 100%;
}
.bad{
     width:30%;
     height:30%;
     /* background-color: #333; */
     display: inline-block;
     margin-right: 5%;
     margin-left: 5.8%;
}
.bad img{
     width: 100%;
}

/* service text */
.serv_t{
     display: inline-block;
     width: 50%;
     vertical-align: middle;
     /* background-color: yellow; */
     height: 100%;
     margin-right: 5%;
}
.serv_t ul :first-child{
     font-size: 2.5rem;
     font-weight: 700;
     margin-bottom: 5px;
}
.serv_t ul :nth-child(2){
     font-weight: 700;
     color: #ff9100;
     margin-bottom: 10px;
}





/* 이하 슬릭슬라이드 dots랑 next/prev버튼 */
.slick-dots{
     position: absolute;
     bottom: 0%;
     left: 0;
     display: inline-block;
     width: 100%;
     padding: 0;
     margin: 0;
     list-style: none;
     text-align: center;
     z-index: 50; 
   }
/* dots 위치 */
 
.slick-dots li button:before {
     font-family: 'slick';
     font-size: 1.0rem;
     line-height: 1.0rem;
     position: absolute;
     top: 0;
     left: 0;
     width: 10px;
     height: 10px;
     content: '•';
     text-align: center;
     opacity: .2;
     color: #333;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}
/* 대기상태일때 */
.slick-dots li.slick-active button:before {
     opacity: .7;
     color: #ff9100;
 }

 /* dots end */

/* active일때 */
.slick-prev, .slick-next{
     z-index: 50;
     font-size: 0;
     line-height: 0;
     position: absolute;
     top: 45%;
     display: block;
     padding: 0;
     -webkit-transform: translate(0, -50%);
     -ms-transform: translate(0, -50%);
     transform: translate(0, -50%);
     cursor: pointer;
     color: transparent;
     border: none;
     outline: none;
     background: transparent;
}
/* 있어야 left,right btn보임 */

.slick-prev:before, .slick-next:before {
     font-family: 'slick';
     line-height: 1;
     opacity: 1;
     color: rgb(153, 49, 49);
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }
 /* btn 크기조절 */

 .slick-prev:before {
     content: url('../img_nv/nex_prev.png') ;
     display: inline-block;
     transform:rotateY(180deg);
 }
 .slick-next:before {
     content: url('../img_nv/nex_prev.png') ;
     display: inline-block;
 }
 /* btn 모양 */
 
.slick-prev {
     left: 1%;
 }
 .slick-next{
     right: 1%;
 }
 .slick-dots li {
     position: relative;
     display: inline-block;
     width:15px;
     height: 20px;
     margin: 0 4px;
     padding: 0;
     cursor: pointer;
 }


 /* serv(서비스) end */




/* sport 시작 */
.sport{
     width: 100%;
     height: 1966px;
     /* padding-bottom: 37px; */
     text-align: center;
}

.spo_tit{
     text-align: center;
     margin-top: 80px;
}
.spo_tit ul :first-child{
     display: inline-block;
     width: 13px;
     height: 13px;
     border-radius: 50%;
     margin-bottom: 5px;
     background-color: #ff9100;
}
.spo_tit ul :nth-child(2){
     font-size: 4.0rem;
     font-weight: 700;
     color: #333;
}

/* . */

/* sport 공통틀 */
.spo_wrap{
    width: 100%;
}
.whi_bg{
     max-width: 680px;
     width: calc(100% - 50px);
     justify-content: space-between;
     margin: 0 auto;
     position: relative;
}
/* spo_btn(종목선택버튼) */
.btn{
     width: 100%;
     margin: 0 auto;
     margin-top: 20px;
}
.btn a img{
     width: 20px;
     height: 20px;
     vertical-align:sub;
     margin-right: 8px;
}
.btn > a{
     display: inline-block;
     width: 95px;
     height: 40px;
     line-height: 38px;
     border-radius: 10px;
     background-color: #ccc;
     margin-right: 20px;
     color: white;
     cursor: pointer;
}
.btn i{
     font-size: 2rem;
     opacity: .2;
}
.btn a.bowli_btn{
     background-color: #f46c22;
     cursor: default;
     margin-bottom: 50px;
}




/* sport_bowling *//* sport_bowling *//* sport_bowling */

/* spo_box1 */
.spo_box1 div{
     vertical-align: middle;
     width: 100%;
}

/* spo_box1 text*/
.spo_box1{
     position: relative;
     max-width: 680px;
     width: calc(100% - 50px);
     margin: 0 auto;
     text-align: left;
     height: 400px;
     
}
.spo_bg{
     position: absolute;
     bottom:0;
     left:0;
     width: 100%;
}
.spo_bg img{
     width: 100%;
     display: block;
}
.spo_t{
     padding-top: 130px;
     padding-left: 60px;
     display: inline-block;
     width: 50%;
     height: 100%;
}
.spo_t ul :first-child{
    font-size: 2.5rem;
     font-weight: 600;
     margin-bottom: 5px;
}
.spo_t ul li span{
     font-weight: 600;
     color: #ff9100;
}

/* 2nd&4nd background color:gray /text-align:right */
.gray_bg > .spo_box1 {
     text-align: right;
     padding-right: 60px;
}
.gray_bg {
     margin-bottom: 53px;
     padding-top: 60px;
     width: 100%;
     height: 100%;
     background-color: #fafafa;
}






/* 24시간 팝업 *//* 24시간 팝업 */
/* 24시간 팝업 *//* 24시간 팝업 */
.pop {
     display: none;
}
/* 검은필터 */
.pop:before {
     display: block;
     content: "";
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.5);
     z-index: 5000;
}
/* 팝업사진만 쉐도우 */
.layerBox{
     z-index: 5000;
     max-width:680px;
     width: calc(100% - 50px);
     position: fixed;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
}

/* 팝업박스 안 img text */
.cont{
     background-color: white;
     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
     border-radius: 10px;
}
.cont_intro{
     text-align: center;
     margin: 0 auto;
     padding: 60px 0;
}
.pop img{
     width: 45%;
}
.intro li,
.intro li span{
     font-size: 2.5rem;
     font-weight: 600;
     line-height: 30px;
}
.intro li span{
     color: #ff9100;
}
.intro li:last-child{
     margin-bottom: 10px;
}


/* download btn */
.yn_btn a{
     display: inline-block;
     width: 110px;
     height: 45px;
     border-radius: 10px;
     line-height: 45px;
     background-color: #ff9100;
     font-weight:500;
     color: white;
     margin-right: 20px;
     margin-top: 20px;
     font-size: 2.0rem;
     transition: ease-in-out 0.2s;
}
.yn_btn .n{
     color: #666;
     background-color: #fff;
     border: 1px solid #666;
}
.yn_btn .y:hover{
     background-color: #ec7e00;
     transition: ease-in-out 0.2s;
}
.yn_btn .n:hover{
     background-color: #666;
     color: #fff;
     transition: ease-in-out 0.2s;
}




/* X버튼 */
#close a{
     font-size: 3rem;
     display: inline-block;
     position: absolute;
     right: 0;
     line-height: 40px;
     width: 40px;
     text-align: center;
     cursor: pointer;
}
/* 하루동안글자랑 체크박스 */
.pop .layerBox .btnTodayHide a {
     font-size: 1.5rem;
     margin-top: 10px;
     color:#fff;
}

.btnTodayHide {
     display: inline-block;
     width: 100%;
}

label {
     color:#fff;
     cursor: pointer;
     display: inline-block;
     padding-left: 3px;
}

input {
     cursor: pointer;
}

/* 닫는버튼 */
#close a {
     color:#fff;
     text-decoration: none;
}

.close {
     display: inline-block;
     
}

header nav .gnb > li{
     z-index: 0;
}
/* commond에도 있는 애인데, 처음 notice 검은 필터때문에
z-index만 0으로 바꿔줌 */




/* 24시간 팝업 안 슬릭부분 */
/* 24시간 팝업 안 슬릭부분 */
/* 24시간 팝업 안 슬릭부분 */

.pop_sli{
     background-color: white;
     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
     border-radius: 10px;
     height: 390px;
}

.pop_sli_tit{
     text-align: left;
     /* margin-bottom: 20px; */
     background-color: #ccc;
     
}
.pop_sli_tit ul :first-child{
     font-size: 2.2rem;
     font-weight: 600;
     margin-bottom: 20px;
     
}
.pop_sli_tit ul li{
     font-size: 1.7rem;
     font-weight: 500;
     color: #555;
}
.pop_sli_tit ul li span.noti{
     font-size: 1.2rem;
     color: #666;
     font-weight: 400;
}


/* 마지막 다운로드부분 팝업속성 */
.pop_sli_tit  .last_pop {
     text-align: center;
}
.pop_sli_tit  .last_pop ul > li:nth-child(2){
     color: #444;
     font-weight: 600;
}
.pop_sli_tit .last_pop > li:last-child{
     color: #333;
     font-size: 2.7rem;
     font-weight: 600;

}
.pop_sli_tit .last_pop > li:last-child span{
     color: #ff9100;
     font-size: 2.7rem;
}

/* service 뱃지~내용 */
.pop_sli{
     max-width: 800px;
     width: calc(100% - 50px);
     margin: 0 auto;
}
.pop_sli_wrap{
     margin: 0 auto;
     text-align: center;
    
}
.pop_sli_box{
     display:inline-block;
     width: 100%;
     height: 370px;
}
.pop_sli_box div{
     display: inline-block;
     margin-top: 80px;
}

.pop_sli_bad{
     margin-right: 10px;
     display: inline-block;
     width: 50%;
     height: 200px;
     background-color: #444;
     vertical-align: top;
}
.pop_sli_bad > img{
     width: 100%;
}

/* popup안의 슬릭슬라이드설정 */
/* popup안의 슬릭슬라이드설정 */
/* popup안의 슬릭슬라이드설정 */


/* active일때 */
.pop_sli_wrap .slick-prev,
.pop_sli_wrap .slick-next{
     z-index: 50;
     font-size: 0;
     line-height: 0;
     position: absolute;
     top: 90%;
     display: block;
     padding: 0;
     -webkit-transform: translate(0, -50%);
     -ms-transform: translate(0, -50%);
     transform: translate(0, -50%);
     cursor: pointer;
     color: transparent;
     border: none;
     outline: none;
     background: transparent;
}
/* next,prev 위치 */

.pop_sli_wrap .slick-prev:before,
.pop_sli_wrap .slick-next:before {
     font-family: 'slick';
     line-height: 1;
     opacity: 1;
     width: 20px;
     height: 20px;
     background-color: #333;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }
 /* btn 크기조절 */

 .pop_sli_wrap .slick-prev:before {
     background: url('../img_nv/nex_prev.png');
     transform:rotateY(180deg);
     display: inline-block;
 }
 .pop_sli_wrap .slick-next:before {
     background: url('../img_nv/nex_prev.png') ;
     display: inline-block;
 }
 /* btn 모양 */
 

 
/* .pop_sli_wrap .slick-dots li button:before {
     font-family: 'slick';
     font-size: .5rem;
     line-height: 1.0rem;
     position: absolute;
     top: 0;
     left: 0;
     width: 10px;
     height: 10px;
     content: '•';
     text-align: center;
     opacity: .2;
     color: #333;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
} */

 .pop_sli_wrap .slick-prev {
     position: absolute;
     left: 35%;
     z-index: 5000;
     bottom: 30px;
     height: 40px;
     border-radius: 50%;
 }
 .pop_sli_wrap .slick-next{
      position: absolute;
      right: 35%;
     z-index: 5000;
     bottom: 30px;
     width: 40px;
     height: 40px;
     border-radius: 50%;
 }
 .pop_sli_wrap .slick-dots li {
     position: relative;
     display: inline-block;
     width:15px;
     height: 20px;
     margin: 20px 4px;
     padding: 0;
     cursor: pointer;
 }




/* 24시간 팝업 끝 *//* 24시간 팝업 끝 */
/* 24시간 팝업 끝 *//* 24시간 팝업 끝 */
