@charset "utf-8";


/* header */
.pc ul .info_menu{
     font-weight: 400;
}
.pc ul .manner_menu{
     font-weight: 700;
}



/* mann 시작 */
.mann{
     width: 100%;
     height: 1420px;
     background-color: #fafafa;
     
}

/* title */
.mann_tit{
     max-width: 680px;
     width: calc(100% - 50px);
     margin: 0 auto;
     text-align: center;
     font-size: 1.4rem;
     padding-top: 100px;
     margin-bottom: 40px;
}
.mann_tit ul li{
     font-family: 'TmonMonsori';
     color: #555;
     line-height: 38px;
}
.mann_tit ul :nth-child(2){
     padding-top: 15px;
     font-family: 'TmonMonsori';
     font-size: 3.8rem;
     font-weight: 700;
     color: #333;
     line-height: 14px;
}
/* title underline */
.mann_tit ul :nth-child(2)::after{
     content: '';
     display: block;
     margin: 0 auto;
     width: 160px;
     height: 8px;
     border-radius: 20px;
     background-color: #ff9100;
     opacity: .3;
}


/*manner text */
.mann_bg_wrap{
     max-width: 816px;
     width: 100%;
     height: 100%;
     margin: 0 auto;
     background: url('../../img_nv/pc_game_bg.png') center center / cover no-repeat;
}
/* bg */

.mann_wrap{
     max-width: 680px;
     width: calc(100% - 50px);
     /* border: 2px solid violet; */
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     margin: 0 auto;
     
}
.mann_wrap > .mann_t{
     position: relative;
     width: 300px;
     height:300px;
     margin: 0 auto;
     /* background-color: aqua; */
     text-align: center;
     margin-bottom: 50px;
}

.mann_t ul{
     /* background-color: rgba(51, 51, 51, 0.116); */
     position: absolute;
     width: 100%;
     bottom: 0px;
}
.mann_wrap div img{
     width: 180px;
}

.mann_t ul li{
     font-size: 2.5rem;
     font-weight: 700;
}
.mann_t ul li:last-child{
     margin-top: 10px;
     font-weight: 400;
     font-size: 1.7rem;
}

/* img 크기,간격수정 */
.mann_wrap .mann_t:last-child img {
     width: 50%;
}
.mann_wrap .mann_t:first-child img {
     width: 50%;
}
.mann_wrap .mann_t:nth-child(3) img {
     width: 60%;
}
.mann_wrap .mann_t:nth-child(3),
.mann_wrap .mann_t:nth-child(4){
     margin-bottom: 60px;

}



.mo_inner .mo_info_menu a{
     font-weight: 400;
}
.mo_inner .mo_manner_menu a{
     font-weight: 700;
}
/* Mo.ver */
@media (min-width: 320px) and (max-width: 480px) {
     .mann {
          width: 100%;
          height: 2430px;
          background-color: #fafafa;
      }

      .mann_tit {
          font-size: 1.4rem;
          padding-top: 70px;
      }
      .mann_tit ul li {
          font-size: 1.6rem;
          line-height: 38px;
      }
      .mann_tit ul :nth-child(2) {
          padding-top: 8px;
          font-size: 3.2rem;
      }
      .mann_tit ul :nth-child(2)::after {
          width: 130px;
      }
      .mann_t ul li {
          font-size: 2.2rem;
      }
      
     .mann_wrap :last-child {
          margin-top: 30px;
      }
      .dl_footer {
          margin-top: 0px;
      }


}